
body {
    margin: 0px;
}

div {
    utline: red solid 1px;
}

.header_text_links:hover {
    color: red;
}

.container {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
}

.header_text {
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    float: left;
}

.header_subtext{
    font-family: 'Ubuntu', sans-serif;
    padding-left: 15px;
    font-size: 1.2rem;
    float: left;
    margin-top: 22px;
}

.header_text_links {
    font-family: 'Ubuntu', sans-serif;
    float: right;
    font-size: 1.5rem;
    padding-left: 20px;
    color: black;
    text-decoration: none;
    margin-top: 19px;
    margin-right: auto;
}

.topbar {
    background-color: white;
    width: 1500px;
    position: fixed;
    height: 50px;
}


.line {
    outline: black solid 1px;
}

.home_image {
    padding-top: 50px;
    width: 1500px;
    height: 850px;
}

.profile_picture {
    width: 400px;
    height: 400px;
    margin: auto;
    padding-top: 100px;
}

.profile_name {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding-top: 20px;
}

.sub_profile {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

.about {
    margin-top: 100px;
    height: 600px;
    width: 1500px;
}

.bio_text_left {
    width: 600px;
    height: 400px;
    float: left;
}

.bio_text_right {
    width: 900px;
    padding-top: 100px;
    height: 300px;
    float: left;
}

.bio_left_text_title {
    width: 600px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.2rem;
    float: left;
    padding-bottom: 60px;
}

.bio_left_text_subtitle_1 {
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    float: left;
}

.bio_left_text_subtitle_2 {
    width: 600px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.7rem;
    float: left;
}

.bio_left_text_subtitle_3 {
    width: 600px;
    padding-top: 2px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    float: left;
}

.bio_text {
    width: 890px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1rem;
    float: left;
    padding-right: 
}